* {
  box-sizing: border-box;
}

html, body, .content {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.up {
  height: 81.25%;
  display: flex;
}

.down {
  height: 18.75%;
  background-color: aqua;
}

.up .left {
  width: 20%;
  height: 100%;
  background-color: darkgrey;
}

.up .right {
  width: 80%;
  height: 100%;
  background-color: cadetblue;
}

@media ( max-width: 768px ) {
  .up .left {
    display: none;
  }
  .up .right {
    width: 100%;
  }
}

.firstLine {
  margin-top: 2vh;
  width: 100%;
  text-align: center;
  font-size: 3vw;
}

.secondLine {
  margin-top: 5vh;
  width: 100%;
  font-size: 2vw;
  margin-left: 2%;
}

.thirdLine {
  margin-top: 1vh;
  width: 100%;
  font-size: 2vw;
  margin-left: 2%;
}

.fourthLine {
  margin-top: 1vh;
  width: 100%;
  font-size: 2vw;
  margin-left: 2%;
}

.fifthLine {
  margin-top: 35vh;
  width: 100%;
  font-size: 2vw;
  margin-left: 2%;
}

.anchors {
  height: 80%;
}
